[submodule "external/cling-src"]
	path = external/cling-src
	url = https://github.com/root-project/cling.git
	shallow = true
[submodule "external/llvm-project"]
	path = external/llvm-project
	url = https://github.com/root-project/llvm-project.git
	shallow = true
